<div class="navbar-fixed">
	<nav class="navbar primary light-shadow-2">
		<button data-target="main-sidenav" aria-label="Menu button" class="sidenav-trigger btn rounded-1 small transparent txt-white hide-md-up hide-xs font-w600">
			<i class="bi bi-list"></i>
			Petites annonces
		</button>
		<button data-target="main-sidenav" class="sidenav-trigger btn circle transparent txt-white hide-sm-up font-w600">
			<i class="bi bi-list"></i>
		</button>

		{# attention HIDE  #}
		<div class="navbar-menu hide-sm-down">
			<a class="navbar-link font-w600" href="https://useaxentix.com">
				<i class="fas fa-home"></i>
				Petites annonces</a>
		</div>

		<div class="navbar-menu ml-auto">

			{% if is_granted('ROLE_ADMIN') %}
				<a class="navbar-link" href="{{path('admin_annonces_home') }}">
					<i class="bi bi-newspaper">gestion annonces</i>
				</a>
				<a class="navbar-link" href="{{path('users_admin_list') }}">
					<i class="bi bi-people">gestion utilisateurs</i>
				</a>
				<a class="navbar-link" href="{{path('legalpages_index') }}">
					<i class="bi bi-boombox">gestion pages legales</i>
				</a>
			{% endif %}
			{% if app.user is null %}
				<div class="dropdown" id="example-dropdown1" data-ax="dropdown">
					<div class="navbar-link dropdown-trigger">
						<i class="bi bi-person-plus">Se connecter</i>
					</div>
					<div class="dropdown-content right-aligned white shadow-1">
						<a class="dropdown-item" href="{{ path('app_login') }}">
							<i class="bi bi-box-arrow-in-right">login
							</i>
						</a>
						<a class="dropdown-item" href="{{ path('app_register') }}">
							<i class="bi bi-person-plus">s'inscrire</i>
						</a>
					</div>
				</div>

			{% else %}
				{# <a class="navbar-link" href="{{path('app_logout') }}">
									<i class="bi bi-lock">logout</i>
								</a> #}
				{# ici, la logique du SWITCH ADMIN/AUTRE ROLE #}
				{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
					{% set logoutUrl =  path('app_home', {'_switch_to': '_exit'}) %}
				{% else %}
					{% set logoutUrl =  path('app_logout') %}
				{% endif %}
				<a href="{{ logoutUrl }}" id="logout">
					<i class="bi bi-lock">logout</i>
				</a>

			{% endif %}


			{# <div class="dropdown" id="example-dropdown" data-ax="dropdown">
										<div class="navbar-link dropdown-trigger">
											Toggle
										</div>
										<div class="dropdown-content right-aligned white shadow-1">
											<a class="dropdown-item" href="https://cdn.pixabay.com/photo/2022/02/12/06/21/roys-peak-7008528__340.jpg">Dropdown in navbar</a>
											<a class="dropdown-item" href="https://cdn.pixabay.com/photo/2022/02/12/06/21/roys-peak-7008528__340.jpg">Item 2</a>
											<a class="dropdown-item active" href="https://cdn.pixabay.com/photo/2022/02/12/06/21/roys-peak-7008528__340.jpg">Item 3</a>
										</div>
									</div> #}


		</div>
	</nav>
</div>
