{% block stylesheets %}
	{{ encore_entry_link_tags('_sidebar')}}
{% endblock %}

<div id="main-sidenav" class="sidenav light-shadow-2 fixed white large">
	<div class="sidenav-header">
		<button data-target="main-sidenav" class="sidenav-trigger">
			<i class="bi bi-x"></i>
		</button>
		<img class="sidenav-logo dropshadow-1" src="https://cdn.worldvectorlogo.com/logos/john-travolta.svg" alt="Logo" style="margin: 0; padding: 0"/>
		<div class="dropdown" id="dropdown" data-ax="dropdown">
			<div class="dropdown-trigger d-flex py-2 px-5 mt-2 bd-1 bd-b-solid bd-grey bd-light-2 cursor-pointer"></div>
		</div>
	</div>


	<div class="hide-md-up">
		<a href="{{ path("app_home")}}" class="sidenav-link">Accueil</a>
		<a href="https://useaxentix.com/docs/getting-started/" class="sidenav-link">Documentation</a>
		<div class="divider"></div>
	</div>

	<a href="{{ path('app_home') }}" class="sidenav-link">
		<i class="bi bi-house-fill">accueil</i>
	</a>

	{% if is_granted('ROLE_USER') %}
		<a href="{{path("users_index")}}" class="sidenav-link">
			<i class="bi bi-person-square">Mon profil</i>
		</a>
		<a href="{{path("users_annonces")}}" class="sidenav-link">
			<i class="bi bi-newspaper">Mes annonces</i>
		</a>
	{% endif %}

	<a href="{{ path('contact') }}" class="sidenav-link">
		<i class="bi bi-postcard">contact</i>
	</a>

	<div class="dropdown" id="example-dropdown2" data-ax="dropdown">
		<div class="navbar-link dropdown-trigger">
			<i class="bi bi-card-text"></i>
			pages légales
		</div>
		<div
			class="dropdown-content ml-5 white shadow-1">
			{# {{ dump(legalpages)}}
											{{ dump(legalpages)}}
											{{ dump(legalpage.name)}} #}
			{% for legalpage in legalpages %}

				<a class="dropdown-item" href="{{path('legalpages_pages', {id: legalpage.id}) }}">
					{{ legalpage.title }}</a>

			{% endfor %}
			{# {{ dump(legalpages)}} #}

		</div>
	</div>

	{# <a href="{{ path('contact') }}" class="sidenav-link">
				<i class="bi bi-postcard">pages légales</i>
				</a> #}

	{# <a href="{{ path('contact') }}" class="sidenav-link">
				<i class="bi bi-postcard">essai</i></a> #}
</div>
