{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login')}}
{% endblock %}

{% block title %}
	page login
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Tu es connecté en tant que :
				{{ app.user.username }}
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="container grix md1 lg2">
			<div class="box1 m-0">
				<h1 class="h3 mb-3 font-weight-normal">Login</h1>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control my-3" autocomplete="current-password" required>
				{# ici, je code le token de session #}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div>
					<button class="btn btn-lg rounded-1 shadow-1 primary" type="submit">Sign in</button>
					<button href="{{ path('app_register') }}" class="btn shadow-1 rounded-1 blue">Vous n'avez pas encore de compte ?</button>
					{# <a href="{{ path('app_register') }}" class="btn shadow-1 rounded-1 blue">Vous n'avez pas encore de compte ?</a> #}
				</div>
			
			<div>
				<a href="{{ path('app_forgot_password_request') }}" class="btn shadow-1 rounded-1 outline opening txt-black mt-2">
					<span class="outline-text">Mot de passe oublié ?</span></a>
			</div>
		</div>
		<div class="box2 ml-5 mt-5">
			<img src="https://cdn.pixabay.com/photo/2022/02/12/06/21/roys-peak-7008528__340.jpg" class="img-responsive" alt="mon image"></div>
	</div>
</form>

	<div class="grix xs1 sm2 gutter-xs4 container">
		<div class="card shadow-1 rounded-3">
			<div class="card-content">
				<div class="card-header">Card header</div>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
										        possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
				</p>
			</div>
		</div>

		<div class="card shadow-1 rounded-3">
			<div class="card-content">
				<div class="card-header">Card header</div>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veritatis excepturi natus impedit distinctio quidem, nesciunt id
										        possimus quia, tempore fuga doloribus reiciendis facilis voluptate accusantium! Adipisci est nam soluta!
				</p>
			</div>
		</div>
	</div>
{% endblock %}
