{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('register')}}
{% endblock %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Register</h1>

	{{ form_start(registrationForm) }}
	<div class="box ml-5 grix md2">
		<div class="box1">
			<div class="d-flex mb-2 mt-5">
				<i class="bi bi-newspaper vself-center mb-3"></i>
				{{ form_row(registrationForm.email) }}</div>
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			<small>{{ form_row(registrationForm.agreeTerms) }}</small>

			<button type="submit" class="btn rounded-1 shadow-1 primary mt-3">Register</button>
			{{ form_end(registrationForm) }}
		</div>
		<div class="box2">
			<div class="logoBox">
				<img class="logo_register" src="https://cdn.worldvectorlogo.com/logos/john-travolta.svg" alt="Logo" style="margin: 0; padding: 0">
			</div>
		</div>
	</div>
{% endblock %}
