{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('detail')}}
{% endblock %}

{% block title %}
	Détail de l'annonce
{% endblock %}

{% block body %}
	<div class="box mx-auto">
		{# ici, je code les msg FlashErrors, je récupère message de AnnonceController ligne 62 #}

		{# <div class="card shadow-1 fx-row grix xs2 sm2 gutter-2"> #}
			<div class="card shadow-1 fx-row grix mt-2"> <div class="primary d-flex vcenter fx-center px-4">
				{# {{dump(annonce.images[0].name)}} #}
				{# {{ dump(annonce.images)}}
				{{ annonce.title }}
				{{ annonce.active }} #}
					{% if annonce.images[0] is defined %}
					{# {{ annonce.images[0].name}}																																													{{ annonce.images[0].id}} #}
				<img src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name)|imagine_filter('square') }}" alt="{{ annonce.title }}"> {% endif %}
			</div>

			<div class="flex fx-col fx-grow sm2">
				{% for message in app.flashes('message') %}
					<div class="alert_mail p-1 my-2 rounded-1 green txt-dark-4 bd-solid bd-green bd-dark-1 bd-1" role="alert">
						<i class="bi bi-alarm"></i>
						{{ message }}</div>
				{% endfor %}
				<div
					class="card-header">
					{# {{annonce.id}} #}
					<strong>{{ annonce.title|upper }}</strong>
					<br/>
					<small>
						<em class="annonce_date">{{annonce.createAt|date("d/m/Y H:i")}}</em>
					</small>
				</div>

				<div class="card-content mx-auto">
					<p>Catégorie :
						{{ annonce.categories.name }}
					</p>
					{# striptags est un filtre de Twig #}
					<p>Description :
						{# {{ dump(annonce)}}
						{{ dump(annonce.content)}} #}
						{# {{annonce.content}} #}
						{# {{annonce.content|raw}} #}
						{# le filtre raw élimine les balises ds le texte #}
						{{ annonce.content|raw}}
						{# {{annonce.content|replace({'|': "-", "," : "."})}} #}
						<pre>
							{# {{ dump(annonce.content) }} #}
						</pre>
					</p>
					{# ici, le bouton qui appelle  ma modale "contactez-l'annonceur #}
				<button class="btn rounded-1 primary press modal-trigger mt-3" data-target="modal-example"> Contacter l'annonceur</button>
				</div>


				{# ici, le code des commentaires **********************COMMENTAIRES**************************** dans ma page detail/{id} #}
				<div class="grix xs2 sm3 gutter-0 card p-3 m-0">
				<div class="col-xs2 col-sm3">
					<h2>Liste des commentaires</h2>
					{# je vais chercher les com de l'annonce concernée #}
					{% for comment in annonce.comments %}
						{# si comment.parent est null, alors j'affiche le commentaire et ses réponses. Sinon, rien #}
						{# on affiche en premier lieu, les com où on n'a pas eu de réponse #}
						{% if comment.parent == null %} 
							<h3>Commentaire ( {{loop.index}} ) de {{comment.nickname}} </h3>
							<div class="card bd-blue bd-solid bd-3 p-3 m-0">
								{# {{ dump(comment)}} #}
								<p>Publié par {{ comment.nickname }} le {{comment.createdAt|date("d/m/Y H:i")}}  </p>
								<div> {{comment.content|replace({'<script>': "__", "," : "."}) }}
								{# {{ dump(comment.content) }} #}
								</div>
								{# data-reply va permettre d'écouter l'événement #}
								{# avec data-id, je récupère le numéro du commmentaire auquel je réponds #}
								<p> <a href="#" data-reply data-id="{{comment.id}}" class="btn rounded-1 primary press modal-trigger m-0 mt-1">Répondre à ce commentaire </a> </p>
									
								{# on affiche les réponses au commentaire #}
								{% for reply in comment.replies %}
									<p>Réponse publiée par {{ reply.nickname }} le {{reply.createdAt|date("d/m/Y H:i")}}  </p>
									<div> {{reply.content|raw}} </div>
																
								{% endfor %}
							</div>
						{% endif %}	
					{% endfor %}
				</div>
			</div>
				<div class="col-xs2 col-sm3" id="ajout-commentaire">
					<h2>Ajouter un commentaire</h2>
					{# je récupére le formulaire créé à la ligne 240 de Annonces.Controller.php #}
					{{ form(commentform) }}
				</div>
			</div>			
		</div>


		{# ici le code du caroulix ********************************************************************************************
										******CAROULIX *******************************************************************************************************************#}
		<div class="caroulix" id="second-caroulix" data-ax="caroulix" data-caroulix-indicators-enabled="true" data-caroulix-indicators-is-flat="true">

			{% for image in annonce.images %}
				<div
					class="caroulix-item mt-1">
					{# banniere est le filtre codé ds liip_imagine.yaml dossier package/tests #}
					<img src="{{ asset('uploads/images/annonces/' ~ image.name)|imagine_filter('banniere') }}" alt="{{ annonce.title }}" class="caroulix_img"/>
				</div>
			{% endfor %}

		</div>
		<div
			class="caroulix_button d-flex fx-center mt-2">
			{# si mon array contient moins de 2 images, je "cache" les deux boutons #}
			{% if annonce.images|length > 1 %}
				<button onclick="Axentix.getInstance('#second-caroulix').prev()" class="btn primary rounded-1 shadow-1 m-2">PREV</button>
				<button onclick="Axentix.getInstance('#second-caroulix').next()" class="btn primary rounded-1 shadow-1 m-2">NEXT</button>
				{% else %}

			{% endif %}
		</div>
		{# {{ dump(annonce.images)}}
		 {{ annonce.images[0].name}} #}
	</div>

	{# ici, le code de ma modale "contactez-moi" ****************************************************************************************************
					************************************************************************************************************************************#}
	<div class="modal shadow-1 white falling" id="modal-example" data-ax="modal">
		{# {{ dump(annonce.users.lastname)}} #}
		<div class="modal-header">Contacter l'annonceur :<em class="txt-primary">
				{{ annonce.users.firstname}}
				{{ annonce.users.lastname}}
			</em>
		</div>

		<div class="divider"></div>
		{{ form_start(form)}}
		<div class="modal-content">
			{{ form_widget(form.title) }}
			{{ form_row(form.email) }}
			{{ form_row(form.message) }}
			....details.html.twig
			<div class="divider"></div>

			<div class="modal-footer">
				<button class="btn small primary">Envoyer</button>
				<button data-target="modal-example" class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Fermer</button>
			</div>
			{{form_end(form)}}

		</div>
	{% endblock %}


	{% block javascripts %}
	{# {{ encore_entry_script_tags('monfichierjs')}} #}
	<script>
	{# écouteur d'événement pour la réponse à un commentaire (tuto 18 : 41mn20) 
	sur tous les boutons réponse. Cet écouteur va surveiller le click #}
	window.onload = () => {
		document.querySelectorAll("[data-reply").forEach(element => {
			element.addEventListener("click", function(){
				console.log(this);
				document.querySelector("#comments_parentid").value = this.dataset.id;
			})
		});
	}
	</script>


	{% endblock %}


