{% extends "base.html.twig" %}

{% block title %}
{# {{parent()}} #}
Test
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{# detail.scss doit être déclaré en AddEntry ds Webpack.config #}
{{ encore_entry_link_tags('detail')}} 
{% endblock %}


{% block body %}
{{ parent() }}
<h1>Comment vas-tu?</h1>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{encore_entry_script_tags('navbar')}}
{% endblock %}