{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('contact')}}
{% endblock %}

{% block title %}
	Page contact
{% endblock %}


{% block body %}


		{% for message in app.flashes('message') %}
			<div class="alert_mail p-1 my-2 rounded-1 green txt-dark-4 bd-solid bd-green bd-dark-1 bd-1" role="alert">
				<i class="bi bi-alarm"></i>
				{{ message }}            
            </div>
		{% endfor %}
    <h1>Nous contacter</h1>
		<div class="box ml-2 ">
        {{ form(form) }}
	</div>
{% endblock %}
