{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('accueil')}}
{% endblock %}

{% block title %}
	Accueil du site
{% endblock %}

{% block body %}
	<div class="box">
		{# ici, je code ma recherche fulltext #}
		{{ form(form) }}
		{% for annonce in annonces %}
			{# <div class="card shadow-1 fx-row grix xs2 sm2 gutter-2"> #}
			<div class="card shadow-1 fx-row grix ">
				<div class="card_img primary d-flex vcenter fx-center px-4">
					{# <h4>Content</h4> #}
					{# {{dump(annonce.images[0].name)}} #}
					{# {{ dump(annonce.images)}}
										{{ annonce.title }}
										{{ annonce.active }} #}
				{% if annonce.images[0] is defined %}
						{# {{ annonce.images[0].name}}
												<br>
												{{ annonce.images[0].id}} #}
					<img src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name)|imagine_filter('square') }}" alt="{{ annonce.title }}"> 
				{% endif %}
				</div>
				{# <div class="flex fx-col fx-grow sm2"> #}
				<div class="flex fx-col fx-grow sm2">
					<div class="card-header">
						<strong>{{annonce.createAt|date}}</strong><br>
						{{annonce.id}}
						<a href="{{path('annonces_details', {slug: annonce.slug})}}">{{ annonce.title }}      <i class="bi bi-eye" style="font-weight: bold; color:red; font-size: x-small; text-decoration: underline; text-align: right">consulter l'annonce</i> <i class="bi bi-eye"></i></a>
					</div>

					<div class="card-content">
						<p>Catégorie :
							{{ annonce.categories.name }}
						</p>
						{# striptags est un filtre de Twig #}
						<p>Description :
							{# je coupe à 50 caractères #}
							{{ annonce.content|striptags|u.truncate(50, '...') }}</p>
					</div>
				</div>

			</div>

		{% endfor %}
	</div>
{% endblock %}

