{% extends 'base.html.twig' %}

{% block title %}Gérer les categories
{% endblock %}

{% block body %}

	<h1>Gérer les categories</h1>
	<a href="{{ path("admin_categories_ajout") }}" class="btn shadow-1 rounded-1 blue">Ajouter une categorie</a>

	<div class="responsive-table">
		<table class="table striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Parent</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for categorie in categories %}

					<tr>
						<td>{{categorie.id}}</td>
						<td>{{categorie.name}}</td>
						<td>{{categorie.parent}}</td>
						<td class="text-center">
							<a href="{{ path("admin_categories_modifier", {id: categorie.id} ) }}" class="btn shadow-1 rounded-1 blue">Modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{# 
		        {{dump(categories)}} #}
	</div>

{% endblock %}
