{% extends 'base.html.twig'%}
{% block title %}Édition des annonces{% endblock %}
{% block body %}
<h1>La page de l'édition des annonces</h1>
    {{ form(form) }}

    <h2>Images</h2>
        {% for image in annonce.images %}
        <div>
            <img src="{{ asset('/uploads/images/annonces/' ~ image.name) }}" alt="{{ image.name }}" width="150" />
            <br>
           
        <a href="{{ path('annonces_delete_image', {'id': image.id}) }}" class="btn shadow-1 rounded-1 blue"
         data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer l'image</a>
      
        <br>
            <br>
        </div>
        {% endfor %}
        {# <button class="btn">{{ button_label|default('Save') }}</button>    #}

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('images') }}
{% endblock %}
