{% extends 'base.html.twig' %}
{% block title %}
	annonces de
	{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}
{% block body %}

	{# <div class="col-xs4 mb-5 d-flex"> #}
	<div class="box_header d-flex aic jcsb container mt-3">
		<h5 class="mesAnnonces_Title txt-primary">Annonce de
			{{ app.user.firstname }}
			{{ app.user.lastname }}
			({{ app.user.annonces | length }}
			)</h5>
		<a href="{{ path('annonces_new') }}" class="btn shadow-1 rounded-1 yellow txt-white mt-2">Nouvelle annonce</a>
	</div>
	{# </div> #}
	<div class="annonces_content grix xs4 container mx-auto">
		{% for annonce in app.user.annonces %}
			<div class="col-xs1">

				Titre :
				{{ annonce.id }}
			</div>
			<div class="col-xs3">
				<strong>{{ annonce.createAt|date }}</strong><br/>
				{{ annonce.title }}
			</div>

			<div class="col-xs1">
				Descriptif :

			</div>
			<div class="col-xs3">

				{{ annonce.content|raw }}
			</div>


			<div class="col-xs4">
				<a href="{{ path('annonces_edit', {id: annonce.id}) }}" class="btn rounded-1 primary press modal-trigger" data-target="modal-edit" data-id="{{annonce.id}}" data-titre="{{annonce.title}}">Editer</a>
				<hr>
			</div>
		{% endfor %}
	</div>
{% endblock %}
