<form method="post" action="{{ path('legalpages_delete', {'id': legalpage.id}) }}" onsubmit="return confirm('Veux-tu vraiment supprimer cette belle page ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ legalpage.id) }}">
    <button class="btn shadow-1 rounded-1 error">Delete</button>
</form>
