{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('legalPagesEdit')}}
{% endblock %}

{% block title %}Edit Legalpages
{% endblock %}

{% block body %}
	<h1>Edit Legalpages</h1>

	{{ include('legalpages/_form.html.twig', {'button_label': 'Confirmer'}) }}
	<div class="box d-flex fx-row">
		<a href="{{ path('legalpages_index') }}" class="btn shadow-1 rounded-1 secondary">back to list</a>

		{{ include('legalpages/_delete_form.html.twig') }}
	</div>
{% endblock %}
