{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('legalpages_index') }}
{% endblock %}

{% block title %}Legalpages index{% endblock %}

{% block body %}
<div class="container">
<div class="header d-flex vcenter">
    <h1>Legalpages index</h1>
    <a href="{{ path('legalpages_new') }}" class="btn shadow-1 rounded-1 blue mt-2 ">Create new</a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Content</th>
                <th>Users</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for legalpage in legalpages %}
            <tr>
                <td>{{ legalpage.id }}</td>
                <td>{{ legalpage.name }}</td>
                <td>{{ legalpage.title }}</td>
                <td>{{ legalpage.content }}</td>
                <td>{{ legalpage.users }}</td>
                <td>{{ legalpage.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('legalpages_show', {'id': legalpage.id}) }}" class="btn shadow-1 rounded-1 blue">show</a>
                    <a href="{{ path('legalpages_edit', {'id': legalpage.id}) }}" class="btn shadow-1 rounded-1 warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
