{% extends 'base.html.twig' %}

{% block title %}New Legalpages{% endblock %}

{% block body %}
    <h1>Create new Legalpages</h1>

    {{ include('legalpages/_form.html.twig') }}

    <a href="{{ path('legalpages_index') }}">back to list</a>
{% endblock %}
