{% extends 'base.html.twig' %}

{% block title %}Legalpages
{% endblock %}

{% block body %}

	<div class="container">

			<h1>{{ legalpage.title }}</h1>
			{{ legalpage.content }}

	</div>
{% endblock %}
