{% extends 'base.html.twig' %}

{% block title %}Legalpages{% endblock %}

{% block body %}

<div class="container">
    <h1>Legalpages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ legalpage.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ legalpage.name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ legalpage.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ legalpage.content }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ legalpage.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('legalpages_index') }}" class="btn shadow-1 rounded-1 blue">back to list</a>

    <a href="{{ path('legalpages_edit', {'id': legalpage.id}) }}" class="btn shadow-1 rounded-1 warning">edit</a>

    {{ include('legalpages/_delete_form.html.twig') }}
</div>
{% endblock %}
