
.sidenav .sidenav-link, #example-dropdown2 {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0 .75rem;
    transition: background-color .23s ease;
    line-height: 3rem;
    flex-shrink: 0;
    cursor: pointer;
}

#example-dropdown2:hover {
    background-color: rgba(0,0,0,.15); 
}
.dropdown-item {
padding: 0rem 1.25rem !important;
}