.content {
    width: 90% !important;
    margin: 0 auto;
}
.card_img {
    min-width: 248px !important;
    padding: 0px 24px !important;
  }

//  .cardBlue {
//     align-self: none !important;
//     width: 90% !important;
//  }