h1 {
    color: red;
}


.form-control {
    // background-color:red;
    // margin-bottom: 10vw !important;
    color: red;
    width: 40%;
}

.required{
    color: blue;
  margin-bottom: 10vw !important;
}
#contact {
    width: 50%;
}

#contact_Envoyer {
    margin-top: 1vw !important;
}

#contact_message {
    margin-top: 2vw !important;
}