

.caroulix {
  width: 50% !important;
  margin: 0 auto;
  margin-top: 3%;
}

.alert_mail {
  color: #fff !important;
  width: 25%;
  font-size: 15px;
  margin-bottom: 0;
}

// scss pour les li ::after
// ul {
//   list-style-type: circle;
//   color: red;
//   font-size:200em !important;
// }
// ul li::marker {
//   color: red;
// }
// li::marker {
//   display: list-item;
//   text-align: -webkit-match-parent;
//   color: red !important;
//   font-size:200em !important;
// }


// i::before {
//   color: rgb(250, 121, 121) !important;
// }

.box {
  width: 97%;
}

.annonce_date {
  font-size: 15px;
}

.btn {
  margin-bottom: 5px;
}

// h1 OU classe rouge
h1, .rouge {
  color: rgb(231, 18, 18);
}

// h1.bleu {
//   color: rgb(231, 18, 18);
// }

// .card-content p > img{
//     object-fit: contain;
//     // content: '';
//     responsive: auto !important;
//   }

// .card-content p > img{
//     // position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     // border-radius: 50%;
// }

// .card-content p > img::before{
//     content: '';
//     padding-top: 100%;
//     display: block;
// }



.card-content p > img {
  max-width: 100% !important;
  // height: auto;
  height: fit-content;
  width: fit-content;
  object-fit: contain;
  width: inherit !important;
  height: inherit !important;
  // box-sizing: none;
  // overflow: scroll;
  // word-break: none !important;
  // width: 200em !important;
  // height: 200em !important;
 
  // line-height: none;
}
.card-content p {
  line-height: 1rem !important;
}

img {
  padding-top: 2%;
  padding-bottom: 2%;
 
}

.card-content {
  width: 95%;
  max-width: 90em;
  min-width: 10em;
}

.sidenav-logo {
  height: 3rem !important;
}