.image {
    position: absolute !important;
  
}

.inputSize {
    width: 70% !important;
}

.card {
    width: 40% !important;
    position: relative;
    z-index: 800 !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.col-xs4 {
    display: flex;
    justify-content: center;
}

  

.main {
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.card-header {
    color: #ffff;
}


