h1 {
    color: greenyellow;
}


// .img-responsive {
//     // max-width: 90% !important;
//     // height: auto;
//     height: fit-content;
//     width: fit-content;
//     object-fit: contain;
//     width: inherit !important;
//     height: inherit !important;
// }

.box2 {
    max-width: 100% !important;
    // height: auto;
    height: fit-content;
    width: fit-content;
    object-fit: contain;
    width: inherit !important;
    height: inherit !important;
}