h1 {
    color: red;
}

.required {
    margin-right: 15px;
}
#registration_form_email {
       width: 70%;
}

#registration_form_plainPassword {
    // margin-top:  2vw;
    margin-bottom: 2vh;

}

.logo_register {
    width: 20%;
    // margin-left: auto;
    // margin-right: auto;
    // display: block;
}
// pour centrer l'image ds box 2 :
.box2 {
    text-align: center;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: -0.0em !important;
}