/* .primary{
    background-color: rgb(255, 117, 24);
} */

// input,
// select {
//   // color: rgb(0, 0, 156) !important;
//   // margin-left: 10px !important;
//   margin-top: 10px !important;
//   // margin-bottom: 10px !important;
//   padding: 5px !important;
//   border-radius: 5px;
// }

// .btn {
//   border: none;
//   // color: white;
//   padding: 10px;
//   // margin: 10px;
//   text-align: center;
//   // text-decoration: none;
//   // display: inline-block;
//   font-size: 15px;
//   cursor: pointer;
// }

// input,
// .h3 {
//   margin-bottom: 30px !important;
// }
.jcsb {
  justify-content: space-between !important;
}
.aic {
  align-items: center !important;
}

img {
  text-align: center;
}



.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
}

h1, .bleu {
  margin: 0.75rem 0px 0.75rem 0px;
  color: rgb(0, 0, 156);
}

i {
  font-style: normal !important;
}

i::before {
  padding: 0px 10px 0px 0px;
  font-size: 1.5rem;
  color: rgb(0, 0, 156);
}
a.navbar-link {
  display: flex !important;
  align-items: center !important;
}
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: -0.25em !important;
}

.mesAnnonces_Title {
  border-bottom: 2px solid blue;
  display: flex;
  justify-content: center;
  font-size: 30px !important;
  
}
.box_header {
  margin-bottom: 5%;
}
.annonces_content {
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 1%;
}

.navbar-fixed {
  z-index: 1000 !important;
}
 
.bi-x::before {
  color: black !important;
}

.layout.with-sidenav .sidenav.fixed {
  z-index: 999 !important;
}

// USER

.nom_role {
  margin: 0;
}

