<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="icon" href="https://a.deviantart.net/avatars/d/o/domynixx.png?2>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		<!-- Axentix CSS minified version je l'installe dans le block permanent-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.4/dist/css/axentix.min.css"> 
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

		<title>
			Petites annonces -
			{% block title %}
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body class="layout with-sidenav">

		<header>
			{% include "_partials/_navbar.html.twig" %}
		</header>

		{# {% include "_partials/_sidebar.html.twig" %} #}
		{{ renderLegal()|raw }}


		<main>
			<section class="content">
				<div class="row">
					<div class="col-12 mx-auto"> 

						{% block body %}
						
					
						
						{# Mon code dans les != templates #}

						{% endblock %}

						</div>
					</div>
				</section>
			</main>

			{% include "_partials/_footer.html.twig" %}

			<!-- Axentix JS minified version -->

			<script src="https://cdn.jsdelivr.net/npm/axentix@1.3.4/dist/js/axentix.min.js"></script>

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
				{{ encore_entry_script_tags('navbar') }}
			
			{% endblock %}
		</body>
	</html>
