{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('annonces_index') }}

{% endblock %}
{% block title %}Gérer les annonces
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('annonce') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{ message }}</div>
			</div>
		{% endfor %}

		<div class="title">
			<h1>Gérer les annonces</h1>
			<a href="{{ path("annonces_new") }}" class="btn shadow-1 rounded-1 blue float-right mt-3">Ajouter une annonce</a>
		</div>

		<div class="responsive-table">
			<table class="table striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Titre</th>
						<th>Rédacteur</th>
						<th>Date</th>
						<th>Active</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for annonce in annonces %}

						<tr>
							<td>{{annonce.id}}</td>
							<td>{{annonce.title}}</td>
							<td>{{annonce.users.email}}</td>
							{# on rajoute le filtre date #}
							{# <td>{{annonce.createAt ? annonce.createAt|date('Y-m-d H:i:s') : '' }}</td> #}
							<td>{{annonce.createAt ? annonce.createAt|date('d-m-Y H:i:s') : '' }}</td>

							<td>
								<label class="form-switch mt-2">
									<input type="checkbox" {{ (annonce.active) ? 'checked' : '' }} data-id="{{annonce.id}}">
									<span class="slider"></span>
								</label>
							</td>
							<td class="text-center">
								<a href="{{ path('annonces_edit', {id: annonce.id}) }}" class="btn rounded-1 primary press modal-trigger" data-target="modal-edit" data-id="{{annonce.id}}" data-titre="{{annonce.title}}">Editer</a>
								<a href="#" class="btn rounded-1 primary press modal-trigger" data-target="modal-delete" data-id="{{annonce.id}}" data-titre="{{annonce.title}}">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{# {{dump(annonces)}} #}
		</div>
	</div>

	{# START CODE MODALE ********************************************************************************************************** #}
	<div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
		<div class="modal-header">Supprimer une annonce</div>

		<div class="divider"></div>
		<div class="modal-content">
			Lorem
			<br/>
			Lorem
		</div>

		<div class="divider"></div>

		<div class="modal-footer d-flex align-items-center">
			<a href="" class="btn rounded-1 small red inline m-0 ">Valider</a>
			<button data-target="modal-delete" class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Close</button>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script>
		window.onload = () => {
let activer = document.querySelectorAll("[type=checkbox]")
for (let bouton of activer) {
bouton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;

xmlhttp.open("get", `/admin/annonces/activer/${
this.dataset.id
}`)
xmlhttp.send()
})
}


let supprimer = document.querySelectorAll(".modal-trigger")
for (let bouton of supprimer) {
bouton.addEventListener("click", function () {
document.querySelector(".modal-footer a").href = `/admin/annonces/supprimer/${
this.dataset.id
}`
document.querySelector(".modal-content").innerText = `Es-tu sûr de vouloir supprimer cette annonce ? "${
this.dataset.titre
}"	`
})
}
}
	</script>
{% endblock %}
