<form method="post" action="{{ path('users_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous VRAIMENT supprimer cet utilisateur ?')">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button class="btn shadow-1 rounded-1 red">Supprimer</button>

</form>
