{% extends "base.html.twig" %}

{% block title %}modification user
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<h1 class="mb-5">modification user</h1>
        {# {{ form(form)}} #}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn shadow-1 rounded-1 blue">Enregistrer la modif</button>
        
        <a href="{{ path('users_admin_list') }}" class="btn btn-secondary ms-3" style="height: 38px !important;">retour liste</a>
    {# <form method="post" class="d-inline" action="{{ path('admin_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet utilisateur ?');"> #}
    {# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"> #}
    {# <div
    class="d-inline py-3">{# <button class="btn btn-danger">{% trans %}button.delete{% endtrans %}</button> #}
    {# </div> #}

        {{ form_end(form) }}
        {{ include('users/_delete_form.html.twig') }}
	</div>


{% endblock %}
