{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('editProfil')}}
{% endblock %}
{% block title %}
	modification du profil de
	{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}

{% block body %}
<div class="main mx-auto d-flex justify-content-center">
<img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_960_720.jpg"  class="image img-responsive" width="850px" style="position: absolute;" alt="">
	<div class="grix xs4 container">
		<div class="col-xs4">
			
			<div class="card shadow-1 hoverable-1 rounded-3 ">
				<div class="card-header"><strong>Modification du profil de : </strong><br><em class="txt-primary txt-center">
				{{ app.user.firstname }}
				{{ app.user.lastname }}</em></div>
				<div class="card-content">

					{{ form_start(form) }}
					{{ form_label(form.firstname) }}
					<br>
					{{ form_widget(form.firstname) }}
					<br>
					{{ form_label(form.lastname) }}
					<br>
					{{ form_widget(form.lastname) }}
					<br>

					{{ form_label(form.email) }}
					<br>
					{{ form_widget(form.email) }}
					<br>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
