{% extends 'base.html.twig' %}
{% block title %}
	modification du mdp de
	{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		{% for message in app.flashes("error") %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 error">{{ message }}</div>
			</div>
		{% endfor %}
		<div class="col-xs4">
			<h5>
				modification du mdp de
				{{ app.user.firstname }}
				{{ app.user.lastname }}</h5>
			<form method="post">
				<div class="form-field">
					<label for="password1">Mot de passe :
					</label>
					<input type="password" name="password1" id="password1" class="form-control rounded-1"/>
				</div>
                <div class="form-field">
					<label for="password2">Confirmer le mot de passe :
					</label>
					<input type="password" name="password2" id="password2" class="form-control rounded-1"/>
				</div>
				<button class="btn shadow-1 rounded-1 blue">Valider</button>
			</form>

		</div>
	</div>
{% endblock %}
