{% extends 'base.html.twig' %}
{% block title %}
	profil de{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}
{% block body %}
	<div class="grix xs4 container mx-auto">
		{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{ message }}</div>
			</div>
		{% endfor %}

		<div class="col-xs4">
			<h5>
				profil de
				{{ app.user.firstname }}
				{{ app.user.lastname }}
			</h5>
		</div>

		<div class="col-xs1">
			Nom :
		</div>
		<div class="col-xs3">
			{{ app.user.lastname }}
		</div>
		<div class="col-xs1">
			Prénom :


		</div>
		<div class="col-xs3">
			{{ app.user.firstname }}
		</div>
		<div class="col-xs1">
			Email :


		</div>
		<div class="col-xs3">
			{{ app.user.email }}
		</div>
		<div class="col-xs4">
			<a href="{{path("users_edit_profil")}}" class="btn shadow-1 rounded-1 blue">
				Modifier le profil
			</a>
			<a href="{{path("users_edit_password")}}" class="btn shadow-1 rounded-1 blue">
				Modifier le mot de passe
			</a>
		</div>
		<hr>


	</div>
{% endblock %}
