{% extends "base.html.twig" %}

{% block title %}liste utilisateurs{% endblock %}

{% block body %}

<div class="container mt-2">
<div class="header d-flex jcsb aic mb-5">
    <h1>liste utilisateurs</h1>
    <a href="{{ path('users_new') }}" class="btn shadow-1 rounded-1 blue mt-2 ">Ajout utilisateur</a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Vérification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td> 
                    {% for roles in user.roles %}
                        {% if roles == "ROLE_ADMIN" %}
                            <p class="nom_role">administrateur</p>
                        {% elseif roles == "ROLE_USER" %}
                            <p class="nom_role">utilisateur</p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if  user.isVerified == 1 %}
                        vérifié
                        {% else %}
                        non vérifié
                     {% endif %}
                    
                
                </td>
                <td>
                    <a
                    href="{{ path('users_edit', {'id': user.id}) }}" 
                    class="btn shadow-1 rounded-1 warning"
                    >
                modifier</a>
                <a>{{ include('users/_delete_form.html.twig') }}</a> 
                <a
                href="{{ path('app_home', {'_switch_to': user.email}) }}" 
                class="btn shadow-1 rounded-1 blue"
                >
                switch</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}