{% extends "base.html.twig" %}
{% block title %}
Nouvel utilisateur
{% endblock %}


{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn shadow-1 rounded-1 blue">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
{% endblock %}

